<div *ngIf="restaurante; else cargando">
  <h2>Menú de {{ restaurante.nombre }}</h2>
  
  <div *ngIf="promos.length > 0; else noPromos" class="p-grid p-align-start">
    <div class="p-col-12 p-md-4" *ngFor="let promo of promos">
      <p-card>
        <ng-template pTemplate="header">
          <img
            [src]="promo.url"
            alt="{{ promo.nombre }}"
            style="width:100%; height:auto;"
          />
        </ng-template>
        <div class="p-card-content">
          <h3>{{ promo.nombre }}</h3>
          <p>{{ promo.precio | currency:'EUR' }}</p>
          <button
            pButton
            icon="pi pi-shopping-cart"
            label="Agregar"
            (click)="agregarAlCarrito(promo)"
          ></button>
        </div>
      </p-card>
    </div>
  </div>
</div>

<ng-template #noPromos>
  <p>No hay promociones disponibles en este momento.</p>
</ng-template>

<ng-template #cargando>
  <p>Cargando restaurante...</p>
</ng-template>
