/* src/app/home/home.component.css */
.home-container {
  display: flex;
  flex-direction: column;
}

.promo-img {
  width: 100%;
  height: auto;
  max-height: 400px; /* Mantenido como en tu original */
  object-fit: cover;
  border-radius: 0.5rem; /* .rounded-lg de Tailwind, ajusta si es necesario */
}


:host ::ng-deep .p-carousel .p-carousel-item img.promo-img {
  max-height: 400px;
  height: auto;
  width: auto;
  margin: 0 auto;
  display: block;
}

