<app-header></app-header>

<div class="card mt-8">
    <p-carousel [value]="promotions" [numVisible]="3" [numScroll]="3" [circular]="true" [responsiveOptions]="responsiveOptions" autoplayInterval="3000">
        <ng-template let-promotion #item>
            <div class="border border-surface-200 dark:border-surface-700 rounded m-2 p-4">
                <div class="mb-4">
                    <div class="relative mx-auto">
                        <img [src]="promotion.image"
                             [alt]="promotion.name"
                             class="promo-img w-full rounded-lg" />
                        <p-tag [value]="promotion.tag" [severity]="getSeverity(promotion.tag)" class="absolute" styleClass="dark:!bg-surface-900" [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
                    </div>
                </div>
                <div class="mb-4 font-medium text-center text-xl">{{ promotion.name }}</div>
                <div class="text-center font-semibold text-2xl">{{ promotion.price }}</div>
            </div>
        </ng-template>
    </p-carousel>
</div>