<!-- header.component.html -->
<div class="top-line">
  ¡SOLO HOY! 30% de descuento a partir de 25€
</div>

<div class="card mega-card">
  <p-megamenu [model]="menuItems" class="mega-menu">
    <ng-template #start>
      <a routerLink="/" class="logo">
        <img
          src="assets/images/logo.png"
          alt="Logo FastEat"
          class="logo-img"
        >
      </a>
    </ng-template>

    <ng-template #item let-item>
      <a
        *ngIf="item.routerLink"
        [routerLink]="item.routerLink"
        class="menu-item"
      >
        <span>{{ item.label }}</span>
      </a>
    </ng-template>

    <ng-template #end>
      <div class="menu-right">
        <button
          pButton
          type="button"
          class="p-button-primary order-button"
          (click)="showLoginDialog()"
        >
          <i class="pi pi-shopping-cart"></i>
          <span>Comenzar pedido</span>
        </button>
      </div>
    </ng-template>
  </p-megamenu>
</div>

<p-dialog
  [(visible)]="loginDialogVisible"
  modal
  maskStyleClass="backdrop-blur-sm"
  styleClass="!border-0 !bg-transparent"
  [closable]="false"
>
  <ng-template pTemplate="content">
  <app-login [embedMode]="true" (close)="loginDialogVisible = false"></app-login>
  </ng-template>
</p-dialog>
