<!-- header.component.html -->
<div class="top-line">
  ¡SOLO HOY! 30% de descuento a partir de 25€
</div>

<div class="card mega-card">
<p-megamenu [model]="menuItems" class="mega-menu">
  <ng-template #start>
    <div class="logo">
      <a routerLink="/">
        <img src="assets/images/logo.png" alt="Logo FastEat" class="logo-img" />
      </a>
    </div>
  </ng-template>

  <ng-template #item let-item>
    <a [routerLink]="item.routerLink" class="menu-item">
      {{ item.label }}
    </a>
  </ng-template>

  <ng-template #end>
    <div class="menu-right">
      <button pButton type="button" class="order-button" (click)="showLoginDialog()">
        <i class="pi pi-shopping-cart"></i>
        <span>Comenzar pedido</span>
      </button>
    </div>
  </ng-template>
</p-megamenu>

</div>

<p-dialog
  [(visible)]="loginDialogVisible"
  modal
  maskStyleClass="backdrop-blur-sm"
  styleClass="!border-0 !bg-transparent"
  [closable]="false"
>
  <ng-template pTemplate="content">
  <app-login [embedMode]="true" (close)="loginDialogVisible = false"></app-login>
  </ng-template>
</p-dialog>
