<!-- Top-line opcional, si no la quieres en el navbar elimínala -->
<div class="top-line">
  ¡Bienvenido a FastEat!
</div>

<!-- Tarjeta contenedora centrada igual que en header -->
<div class="navbar-card">
  <p-menubar [model]="items" class="navbar-menu">
    <ng-template pTemplate="start">
      <a routerLink="/" class="logo">
        <img src="assets/images/logo.png" alt="FastEat Logo" class="logo-img" />
      </a>
    </ng-template>

    <ng-template pTemplate="item" let-item>
      <a pMenubarItem [routerLink]="item.routerLink" class="menu-item">
        {{ item.label }}
      </a>
    </ng-template>

    <ng-template pTemplate="end">
      <button
        *ngIf="isLoggedIn"
        pButton
        type="button"
        icon="pi pi-sign-out"
        label="Cerrar sesión"
        class="order-button"
        (click)="onLogoutClick()"
      ></button>
    </ng-template>
  </p-menubar>
</div>
