
:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;    /* <- aquí */
}

.app-body {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
