<app-header></app-header>

<div class="gallery-card">

  <div class="gallery-grid">
   <div *ngFor="let promo of primerosSeis" class="gallery-item">
  <div class="image-container">
    <img [src]="promo.url" [alt]="promo.nombre" />
  </div>
  <div class="item-content">
    <div class="text-block">
      <div class="name">{{ promo.nombre }}</div>
      <div class="price">{{ promo.precio | currency:'EUR' }}</div>
    </div>
    <button pButton icon="pi pi-shopping-cart" label="Ordenar"></button>
  </div>
</div>

</div>
