<div class="register-container">
  <form class="register-form" (ngSubmit)="onSubmit()">
    <h2>Registrarse</h2>

    <input
      [(ngModel)]="nombre"
      name="nombre"
      placeholder="Nombre"
      required
    />

    <input
      type="email"
      [(ngModel)]="email"
      name="email"
      placeholder="Email"
      required
    />

    <input
      type="password"
      [(ngModel)]="password"
      name="password"
      placeholder="Contraseña"
      required
    />

    <button
      pButton
      type="submit"
      label="Registrar"
      [loading]="loading"
      [disabled]="loading"
      class="w-full"
    ></button>

    <p class="error" *ngIf="error">{{ error }}</p>

    <p class="link-login">
      ¿Ya tienes cuenta?
      <a routerLink="/login">Entra aquí</a>
    </p>
  </form>
</div>
